[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GROAN"]
	path = GROAN
	url = https://github.com/cran/GROAN
	shallow = true
	registered = true
